version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lowcode-ml-app
    ports:
      - "8501:8501"  # Puerto para Streamlit
    volumes:
      - ./data:/app/data  # Montar directorio de datos
      - ./models:/app/models  # Montar directorio de modelos
      - ./reports:/app/reports  # Montar directorio de informes
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    restart: unless-stopped
    tty: true
    stdin_open: true
    working_dir: /app
    command: streamlit run src/app.py --server.port=8501 --server.address=0.0.0.0
